In [82]:
import pandas as pd
from pandasql import sqldf
import numpy as np
import h3
from geopy.geocoders import Nominatim

In [83]:
data = pd.read_csv("FlightDistanceTest.csv")

Checking the data information, i.e. the data types, column names, and the number of non-null values.

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Normalised City Pair  3000 non-null   object
 1   Departure Code        3000 non-null   object
 2   Arrival Code          3000 non-null   object
 3   Departure_lat         3000 non-null   float64
 4   Departure_lon         3000 non-null   float64
 5   Arrival_lat           3000 non-null   float64
 6   Arrival_lon           3000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 164.2+ KB

In [85]:
data.head(10)

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon
0,"London, United Kingdom - New York, United States Of America",LHR,JFK,51.5,-0.45,40.64,-73.79
1,"Johannesburg, South Africa - London, United Kingdom",JNB,LHR,-26.1,28.23,51.47,-0.45
2,"London, United Kingdom - New York, United States Of America",LHR,JFK,51.5,-0.45,40.64,-73.79
3,"Johannesburg, South Africa - London, United Kingdom",JNB,LHR,-26.1,28.23,51.47,-0.45
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45
5,"London, United Kingdom - New York, United States Of America",JFK,LCY,40.6,-73.79,51.50,0.05
6,"London, United Kingdom - New York, United States Of America",LCY,JFK,51.5,0.05,40.64,-73.79
7,"London, United Kingdom - Newark, United States Of America",EWR,LHR,40.7,-74.18,51.47,-0.45
8,"Bombay, India - London, United Kingdom",LHR,BOM,51.5,-0.45,19.09,72.86
9,"Dubai, United Arab Emirates - London, United Kingdom",DXB,LHR,25.3,55.35,51.47,-0.45

Appending latitude and longitude into a single master list in order to calculate the distances between departure and arrival coordinates.

In [86]:
def coordinates_departure() -> list:
    cords = []
    for latitude, longitude in zip(data['Departure_lat'], data['Departure_lon']):
        cords.append([latitude, longitude])
    return cords
    
def coordinates_arrival() -> list:
    cords = []
    for latitude, longitude in zip(data['Arrival_lat'], data['Arrival_lon']):
        cords.append([latitude, longitude])
    return cords

Calculating route distances in miles based on latitude and longitude.

In [87]:
def distance():
    departure = coordinates_departure()
    arrival = coordinates_arrival()

    distances_miles = []
    for cord1, cord2 in zip(departure, arrival):
        distance_km = h3.point_dist(cord1, cord2, unit='km')
        distance_miles = distance_km / 1.609344
        distances_miles.append(distance_miles)
    
    return distances_miles

Appending the calculated distances to the dataframe.

In [88]:
distances = distance()
data['Distance'] = distances
data['Distance'] = round(data['Distance'], 2)

In [89]:
data

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon,Distance
0,"London, United Kingdom - New York, United States Of America",LHR,JFK,51.5,-0.45,40.64,-73.79,3442.49
1,"Johannesburg, South Africa - London, United Kingdom",JNB,LHR,-26.1,28.23,51.47,-0.45,5635.89
2,"London, United Kingdom - New York, United States Of America",LHR,JFK,51.5,-0.45,40.64,-73.79,3442.49
3,"Johannesburg, South Africa - London, United Kingdom",JNB,LHR,-26.1,28.23,51.47,-0.45,5635.89
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45,6764.24
...,...,...,...,...,...,...,...,...
2995,"New York, United States Of America - Toronto, Canada",LGA,YYZ,40.8,-73.88,43.68,-79.61,354.13
2996,"Newark, United States Of America - Vail/eagle, United States Of America",EGE,EWR,41.3,-85.28,40.69,-74.18,579.99
2997,"Isle Of Man, United Kingdom - Southampton, United Kingdom",SOU,IOM,51.0,-1.36,54.09,-4.63,253.83
2998,"Ottawa, Canada - Toronto, Canada",YYZ,YOW,43.7,-79.61,45.32,-75.67,224.05
2999,"Frankfurt, Germany - Helsinki, Finland",HEL,FRA,60.3,24.97,50.05,8.56,954.37

In [90]:
pd.set_option('display.max_colwidth', 300)

At this point, my intention was to split the strings from the 'Normalized City Pair' column to create new columns for the city of departure, city of arrival, country of departure, and country of arrival. The goal was to verify the exact addresses for each coordinate and to slice strings in the 'Normalized City Pair' column to check if any of the words matched the generated address. After using the *geopy* library to find the exact addresses of the coordinates, I quickly realized that this approach was impractical. This was because some addresses use different character sets (e.g. Arabic letters) or the exact address does not include the city name. For example, the exact address for the coordinates '-26.1, 28.23' is 'Kosmos Road, Ekurhuleni Ward 16, Kempton Park, City of Ekurhuleni Metropolitan Municipality, Gauteng, 1627, South Africa.' The corresponding row in the 'Normalized City Pair' column for that location is 'Johannesburg,' which my method would not have detected since 'Johannesburg' is not mentioned in the exact address *geopy* provided.

In [91]:
def location(latitude_and_longitude: str) -> str: # returns location (exact address) of the input coordinates
    geolocator = Nominatim(user_agent="locator")
    geolocation = geolocator.reverse(latitude_and_longitude)
    return geolocation.address if geolocation else ""
print(location("-26.1, 28.23")) # example

Kosmos Road, Ekurhuleni Ward 16, Kempton Park, City of Ekurhuleni Metropolitan Municipality, Gauteng, 1627, South Africa

Since "Normalizsed City Pair' column has been removed from the scope of my analysis, another potential anchor point could be to verify if airport codes are consistent for each set of geographic coordinates. First, I will create a temporary table that will store concatenated values of latitude and longitude (for easier interpretation), along with the airport codes for both departure and arrival. This will enable me to search for data inconsistencies using SQL.

In [92]:
# concatenating longitude and latitude into a single column
data["departure_coords"] = data["Departure_lat"].astype(str) + " " + data["Departure_lon"].astype(str)
data["arrival_coords"] = data["Arrival_lat"].astype(str) + " " + data["Arrival_lon"].astype(str)

In [93]:
departure_code = pd.DataFrame(data["Departure Code"].copy())
arrival_code = pd.DataFrame(data["Arrival Code"].copy())

temp_df = departure_code.join(data["departure_coords"], how='inner')
temp_df = temp_df.join(arrival_code)
temp_df = temp_df.join(data["arrival_coords"], how='inner')
temp_df.columns = ["departure_code", "departure_coords", "arrival_code", "arrival_coords"] # renaming columns for easier handling in sql

In [94]:
temp_df

     departure_code departure_coords arrival_code arrival_coords
0               LHR       51.5 -0.45          JFK   40.64 -73.79
1               JNB      -26.1 28.23          LHR    51.47 -0.45
2               LHR       51.5 -0.45          JFK   40.64 -73.79
3               JNB      -26.1 28.23          LHR    51.47 -0.45
4               SIN       1.3 103.98          LHR    51.47 -0.45
...             ...              ...          ...            ...
2995            LGA      40.8 -73.88          YYZ   43.68 -79.61
2996            EGE      41.3 -85.28          EWR   40.69 -74.18
2997            SOU       51.0 -1.36          IOM    54.09 -4.63
2998            YYZ      43.7 -79.61          YOW   45.32 -75.67
2999            HEL       60.3 24.97          FRA     50.05 8.56

[3000 rows x 4 columns]

Now, I will proceed with querying the above table to determine if there are any coordinates that are associated with more than one airport code (which of course - shouldn't occur).

In [95]:
sqldf(""" 
    SELECT departure_coords, COUNT(DISTINCT departure_code) AS count_of_distinct_departure_codes
    FROM temp_df
    GROUP BY departure_coords
    HAVING COUNT(DISTINCT departure_code) > 1;
""")

   departure_coords  count_of_distinct_departure_codes
0        -1.3 36.81                                  5
1      -12.0 -77.11                                  2
2       -20.0 23.43                                  2
3       -20.4 57.68                                  2
4      -23.4 -46.48                                  3
5       -26.1 28.23                                  9
6      -33.9 151.23                                  2
7      -37.7 144.85                                  2
8        1.3 103.98                                 10
9       13.7 100.77                                  3
10     21.3 -157.92                                  2
11      22.3 113.94                                  7
12       23.6 58.29                                  2
13       25.3 51.56                                  9
14       25.3 55.35                                 18
15       28.7 77.26                                  4
16      30.0 -95.34                                  7
17      32.9 -97.04                                  8
18      33.1 -88.31                                  4
19     33.4 -110.87                                  9
20     33.4 -112.03                                  2
21     34.1 -118.24                                 11
22      35.2 -80.95                                  5
23      35.8 140.39                                  7
24     37.3 -107.75                                  5
25      37.5 126.66                                  2
26     37.6 -122.39                                  4
27       38.8 -9.13                                  3
28      39.0 -77.45                                  5
29     39.8 -104.86                                  5
30      39.9 -75.59                                  2
31       40.5 -3.58                                  6
32      40.6 -73.79                                  9
33      40.7 -74.18                                  7
34     40.8 -111.89                                  4
35       41.0 28.99                                  5
36      41.6 -98.93                                 14
37        41.9 12.5                                  3
38      42.9 -83.53                                  9
39      43.7 -79.61                                  4
40       44.9 -93.2                                  5
41      45.1 -89.01                                  4
42        45.5 9.18                                  3
43        47.5 8.57                                 10
44       48.2 16.37                                  5
45       48.3 11.77                                  9
46        49.0 2.54                                 14
47     49.2 -123.17                                  3
48        50.1 8.56                                 26
49       51.0 -1.36                                  2
50       51.2 -0.16                                  2
51       51.5 -0.45                                 39
52        51.5 0.05                                  3
53        52.3 4.75                                  9
54       52.5 -1.73                                  2
55         53.4 0.1                                  2
56       55.6 12.64                                  4
57       60.3 24.97                                  2

As we can see, some coordinates are associated with multiple airport codes. Coordinates '51.5, -0.45' have the largest number of airport codes assigned to them. Let's proceed and check the specific codes matched with these coordinates.

In [96]:
sqldf("""
    SELECT DISTINCT departure_code
    FROM temp_df
    WHERE departure_coords LIKE '51.5 -0.45'
""")

   departure_code
0             LHR
1             MAA
2             JFK
3             BOM
4             EWR
5             MAN
6             DXB
7             SIN
8             MAD
9             DEL
10            EDI
11            PHL
12            CPT
13            FRA
14            GIG
15            GLA
16            LIS
17            DOH
18            MIA
19            LIN
20            NCL
21            LON
22            ZRH
23            DFW
24            SFO
25            AMS
26            GVA
27            ICN
28            GRU
29            ORD
30            PRG
31            NYC
32            NRT
33            BRU
34            LOS
35            OSL
36            ARN
37            CDG
38            HEL

There are **39 unique** airport codes associated with the coordinates '51.5, -0.45'. We can use the location function mentioned earlier to decode these coordinates and determine the correct code that should be assigned to them. Addtionally, we can verify any airport code by searching for 'airport codes list' on Google for example, and using any of the resulting website.

In [97]:
location("51.5 -0.45")

'Stockley Road, West Drayton, London Borough of Hillingdon, London, Greater London, England, UB7 9BN, United Kingdom'

The coordinates '51.5, -0.45' correspond to London. Therefore, any other airport codes associated with these specific coordinates are, in fact, errors in the dataset.

We can also explore the specific airport codes assigned to the highlighted coordinates.

In [98]:
sqldf("""
    SELECT departure_coords, GROUP_CONCAT(DISTINCT departure_code) AS departure_codes
    FROM (
        SELECT DISTINCT departure_coords, departure_code
        FROM temp_df
    ) unique_codes
    GROUP BY departure_coords
    HAVING COUNT(DISTINCT departure_code) > 1
""")

,departure_coords,departure_codes
0,-1.3 36.81,"NBO,LHR,EBB,JNB,ACC"
1,-12.0 -77.11,"LIM,EZE"
2,-20.0 23.43,"MUB,GBE"
3,-20.4 57.68,"MRU,SEZ"
4,-23.4 -46.48,"GRU,LHR,JFK"
5,-26.1 28.23,"JNB,CAI,GBE,DXB,HKG,DUR,GRU,LHR,DOH"
6,-33.9 151.23,"SYD,NRT"
7,-37.7 144.85,"MEL,LHR"
8,1.3 103.98,"SIN,LHR,MNL,EWR,CGK,AKL,NRT,JFK,KUL,FRA"
9,13.7 100.77,"BKK,HKG,FRA"
10,21.3 -157.92,"HNL,KOA"
11,22.3 113.94,"HKG,LHR,TPE,MEL,PER,JFK,SGN"
12,23.6 58.29,"MCT,DXB"
13,25.3 51.56,"DOH,AUH,SEZ,GVA,BLR,LHR,SIN,MAA,DXB"
14,25.3 55.35,"DXB,BOM,MAN,JNB,SIN,MAA,BHX,LGW,LHR,NCL,KHI,MNL,JFK,DOH,DEL,ACC,PRG,FCO"
15,28.7 77.26,"DEL,ORD,LHR,PNQ"
16,30.0 -95.34,"IAH,SAN,SAT,LGA,DXB,MIA,MTY"
17,32.9 -97.04,"DFW,GRU,AUS,SJC,MOB,LHR,MCI,LGA"
18,33.1 -88.31,"LGA,MEM,TUL,LIT"
19,33.4 -110.87,"MIA,GRU,BOG,MAD,GIG,LGA,MVD,LHR,JFK"
20,33.4 -112.03,"PHX,BWI"
21,34.1 -118.24,"LAX,JFK,SYD,HKG,IAH,YYZ,PHX,EWR,DEN,LAS,ORD"
22,35.2 -80.95,"CLT,CHO,PHL,MUC,IAH"
23,35.8 140.39,"NRT,JFK,MNL,SFO,ICN,SEA,DTW"
24,37.3 -107.75,"DTW,PHL,OKC,LGA,LEX"
25,37.5 126.66,"ICN,LAX"
26,37.6 -122.39,"SFO,HKG,ICN,PEK"
27,38.8 -9.13,"LIS,GRU,MPM"
28,39.0 -77.45,"IAD,CDG,LHR,NRT,RDU"
29,39.8 -104.86,"DEN,SFO,ABQ,ASE,DRO"
30,39.9 -75.59,"LHR,SEA"
31,40.5 -3.58,"MAD,LIM,BOG,LHR,LCY,GVA"
32,40.6 -73.79,"JFK,SAN,NRT,GRU,PHL,DXB,ORD,PIT,ICN"
33,40.7 -74.18,"EWR,SFO,DFW,IAH,CMH,HKG,DCA"
34,40.8 -111.89,"EWR,CDG,JFK,SLC"
35,41.0 28.99,"IST,ESB,LHR,HKG,DXB"
36,41.6 -98.93,"ORD,EWR,SAN,LHR,MSN,OKC,JAC,NRT,SBN,CID,ICN,HKG,LGA,YQB"
37,41.9 12.5,"FCO,KIX,LIN"
38,42.9 -83.53,"ATL,SAT,LAS,COS,AGS,TRI,EWR,SCL,ACC"
39,43.7 -79.61,"YYZ,YYC,LGA,BWI"
40,44.9 -93.2,"MSP,YEG,PHL,LAS,BZN"
41,45.1 -89.01,"PHL,TYS,LAX,PHX"
42,45.5 9.18,"LIN,MXP,BRU"
43,47.5 8.57,"ZRH,GVA,NRT,LCY,DAR,MCT,WAW,GRU,LUG,JFK"
44,48.2 16.37,"VIE,KRK,LHR,GVA,PRG"
45,48.3 11.77,"MUC,IAD,PRG,TRN,ICN,MAD,HAM,LHR,KBP"
46,49.0 2.54,"CDG,GVA,MRU,TRN,AMS,LHR,DXB,JNB,BHX,SLC,SIN,SCL,HAJ,GRU"
47,49.2 -123.17,"YVR,YYC,ICN"
48,50.1 8.56,"FRA,LHR,SIN,JFK,BCN,GVA,ICN,JED,SEA,LIS,NRT,SFO,EWR,KBP,BOM,MAD,MAN,ZRH,PNQ,BSL,RUH,BOG,BLQ,HND,VNO,YYZ"
49,51.0 -1.36,"SOU,JER"
50,51.2 -0.16,"LGW,IOM"
51,51.5 -0.45,"LHR,MAA,JFK,BOM,EWR,MAN,DXB,SIN,MAD,DEL,EDI,PHL,CPT,FRA,GIG,GLA,LIS,DOH,MIA,LIN,NCL,LON,ZRH,DFW,SFO,AMS,GVA,ICN,GRU,ORD,PRG,NYC,NRT,BRU,LOS,OSL,ARN,CDG,HEL"
52,51.5 0.05,"LCY,GLA,LUX"
53,52.3 4.75,"AMS,LHR,LIM,NCL,JFK,PDX,GVA,DEL,ATL"
54,52.5 -1.73,"BHX,IOM"
55,53.4 0.1,"MAN,IOM"
56,55.6 12.64,"CPH,VNO,EDI,ARN"
57,60.3 24.97,"VNO,HEL"

Now, I will query the columns containing information about arrival coordinates and arrival airport codes.

In [99]:
sqldf(""" 
    SELECT arrival_coords, COUNT(DISTINCT arrival_code) AS count_distinct_arrival_codes
    FROM temp_df
    GROUP BY arrival_coords
    HAVING COUNT(DISTINCT arrival_code) > 1;
""")

  arrival_coords  count_distinct_arrival_codes
0   40.07 116.58                             2
1     45.47 9.18                             2
2     49.01 2.54                             2
3    51.47 -0.45                             2

There are significantly fewer errors in the arrival coordinates and codes. However, some errors do still exist. Let's examine all of the airport codes assigned to these coordinates.

In [100]:
sqldf("""
    SELECT arrival_coords,
    GROUP_CONCAT(DISTINCT arrival_code) as arrival_code
    FROM (
        SELECT DISTINCT arrival_coords, arrival_code
        FROM temp_df
    ) unique_codes
    GROUP BY arrival_coords
    HAVING COUNT(DISTINCT arrival_code) > 1
""")

  arrival_coords arrival_code
0   40.07 116.58      PEK,BJS
1     45.47 9.18      LIN,MXP
2     49.01 2.54      CDG,PAR
3    51.47 -0.45      LHR,LON

Considering that various airport codes are assigned to the same geographic coordinates, it can be inferred that the distances calculated for these airports are incorrect. The distances were calculated based on coordinates provided by the International Air Transport Association. Therefore, errors are present in the 'Departure Code' and 'Arrival Code' columns.

In [101]:
data.to_excel("results.xlsx", index=False)

### Useful Links and References:
* [Getting distance between two points based on latitude/longitude](https://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude)
* [Airport codes](https://www.ccra.com/airport-codes/)
* [Get address from given coordinate using python](https://stackoverflow.com/questions/60928516/get-address-from-given-coordinate-using-python)
* [How to Use SQL in pandas Using pandasql Queries](https://www.datacamp.com/tutorial/how-to-use-sql-in-pandas-using-pandasql-queries)